site_name: Wiki del Servidor
site_url: https://ymminnl.github.io/page-wiki/
repo_url: https://github.com/ymminnl/page-wiki/
edit_uri: edit/main/docs/

theme:
  name: material
  language: es
  palette:
    primary: deep purple
    accent: indigo
  features:
    - navigation.tabs
    - search.suggest
    - search.highlight

nav:
  - Inicio: index.md
